:root {
    --gray :#4a5568;
    --darkgrey : #2D3748;
}

body{
    box-sizing: border-box;
    padding: 0%;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.navbar {
    background-color:white;
    height: 85px;
    display: flex;
    padding: 0 4rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1, 1, 1, 0.1);
}

.navbar >h1 {
 font-size: 27px;
 font-weight: bolder;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a img{
    margin-top: 16px;
    width: 25px;
    height: 25px;
}

.hero-container {
    display: flex;
    height: 470px;
    padding: 0 10%;
}

.hero-container > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container h1 {
    font-size: 60px;
    width: 360px;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;

}

.hero-container p {
    font-size: 30px;
    color: var(--gray);
}

.hero-container > img {
   width: 50%;
   height: 323px;
   align-self: center;
}

.description-container {
    height: 280px;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
}

.description-container > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(154, 154, 245);
}

.description-container h2 {
    color: var(--darkgrey);
}

.description-container p {
    color: var(--gray);
}

.description-container > div > div {
    width: 500px;
    height: 800px;
}

.description-container > img {
    width: 40%;
    object-fit: cover;
}

.description-left-footer {
display: flex;
justify-content: space-between;
}

.content-container {
    height: 400px;
    margin: 40px 0;
    padding: 0 10%;
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 30px;
}

.content-container .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 47vh;
    height: 60vh;
}

.card :hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-body {
    padding: 2px 16px;
}

.card-footer {
    padding: 2px 16px;
}

.font-weight-bold {
    font-weight: bold;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 1rem;
  gap: 1rem;
  margin-left: 1%;
}

.card-container img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card-footer p{
    margin-bottom: 0%;
}