:root {
    background-color: whitesmoke;
}

.input{
    background-color: red;
    padding: 20px 40px;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 300;
}

.button {
    background-color: red;
    margin-top: 1rem;
}